# Homework 5, Part 2: Answer questions with pandas

**Use the Excel file to answer the following questions.** This is a little more typical of what your data exploration will look like with pandas.

## 0) Setup

Import pandas **with the correct name** and set `matplotlib` to always display graphics in the notebook.

In [1]:
import pandas as pd

## 1) Reading in an Excel file

Use pandas to read in the `richpeople.xlsx` Excel file, saving it as a variable with the "correct" name. You will use `read_excel` instead of `read_csv`, *but you'll also need to install a new library*.

In [3]:
df = pd.read_excel("richpeople.xlsx")

ImportError: No module named 'xlrd'

## 2) Checking your data

Display the number of rows and columns in your data. Also display the names and data types of each column.

In [2]:
df

NameError: name 'df' is not defined

## 3) Who are the top 10 richest billionaires? Use the `networthusbillion` column.

## 4) How many male billionaires are there compared to the number of female billionares? Do they have a different average wealth?

> **TIP:** The second part uses `groupby`, but the first part does not.

## 5) Who is the poorest billionaire? Who are the top 10 poorest billionaires?

## 6) What is the most common source of wealth? Is it different between males and females?

> **TIP:** You know how to `groupby` and you know how to count how many times a value is in a column. Can you put them together???

## 7) What companies have the most billionaires? Graph the top 5 as a horizontal bar graph.

> **TIP:** First find the answer to the question, then just try to throw `.plot()` on the end
>
> **TIP:** You can use `.head()` on *anything*, not just your basic `df`
>
> **TIP:** You might feel like oyu should use `groupby`, but don't! There's an easier way to count.

## 8) How much money do these billionaires have in total?

## 9) What are the top 3 countries with the most money held by billionaires?

I am **not** asking which country has the most billionaires - this is total amount of money per country.

> **TIP:** Think about it in steps - "I want them organized by country," "I want their net worth," and "I want to add it all up." Just chain them all together.

## 10) How old is an average billionaire? How old are billionaires self made vs. non self made?

## 11) Who are the youngest billionaires? Who are the oldest? Make a graph of the distribution of ages.

## 12) Make a scatterplot of their net worth compared to their age

## 13) Make a bar graph of the top 10 richest billionaires